.app {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px calc(100% - 50px);
    font-family: Arial, Helvetica, sans-serif;
}

.middle {
    display: grid;
    grid-template-columns: 200px calc(100% - 200px);
}

.sideMenu {
    background-color: #2FA1C4;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.topMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #248BB3;
    color: #FFFFFF;
    font-weight: 5;
}

.sideMenuTitleContainer {
    width: 100%;
    background-color: #195C73;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    overflow-y: auto;
}

.sideMenuItem {
    width: 100%;
    background-color: #475643;
}

.sideMenuList {
    width: 100%;
    padding: 0;
    list-style-type: none;
    background-color: #6a9b5d;
}

.sideMenuButton {
    border: none;
    width: 100%;
    background-color: #2FA1C4;
    height: 24px;
    margin: 0;
    color: #FFFFFF;
}

.sideMenuButton:hover {
    background-color: rgb(6, 121, 156);
}

.sideMenuButton:focus {
    outline: none;
    background-color: rgb(0, 80, 104);
}

.sideMenuTitle {
    padding: 0;
    margin: 0;
    color: #47bde5;
}