<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='<%= baseUrl %>stylesheets/bundle.css' />
</head>

<body>
    <div id="root" ></div>
</body>
<script src="<%= baseUrl %>js/bundle.js"></script>
</html>